<div style="position:absolute; top:0; bottom:0; left:0; right: 0; display: flex; flex-direction: column;">  
<ng-container >
	<mat-toolbar  class="mat-elevation-z6">
		<mat-toolbar-row>
			<img src="assets/img/logo.png" alt="my job board" style="height:50px;padding-right:10px;"/>
			<a href="/" style="text-decoration:none;">
				<span>				
				<span style="color:#AA0000;">M</span>y <span style="color:#AA0000;">J</span>ob <span style="color:#AA0000;">B</span>oard<span style="font-size:0.6em;color:#AA0000;font-variant-position:sub;">.mine.nu</span>
				</span>
			</a>
		</mat-toolbar-row>
	</mat-toolbar>		
			
	<app-search-job ></app-search-job>	
	
	<div class="main-sidenav-container" style="">
		<div id="leftNav" fxFlex="15%" fxFlex.lt-md="100%" style="" fxFlexOrder.lt-md="2" fxHide.lt-md="true">
			<app-chart-pie></app-chart-pie>
			<app-bignumber></app-bignumber>	
		</div>
		<div fxFlex="85%" fxFlex.lt-md="100%" style="overflow-y: scroll;" >
			<app-jobs></app-jobs>  		
		</div>	
	</div>
	
</ng-container>
</div>













