<div style="position:absolute; top:0; bottom:0; left:0; right: 0; display: flex; flex-direction: column;">  
<ng-container >
	<mat-toolbar  class="mat-elevation-z6">
		<mat-toolbar-row>
			SpringBoot Angular Job Board Parser
		</mat-toolbar-row>
	</mat-toolbar>		
			
	<app-search-job ></app-search-job>	
	
	<div class="main-sidenav-container" style="">
		<div fxFlex="15%" fxFlex.lt-md="100%" style="background-color:#424242;border-right: solid 1px rgba(255,255,255,.12);" fxFlexOrder.lt-md="2" fxHide.lt-md="true">
			<app-chart-pie></app-chart-pie>  
		</div>
		<div fxFlex="85%" fxFlex.lt-md="100%" style="overflow-y: scroll;" >
			<app-jobs></app-jobs>  		
		</div>	
	</div>
	
</ng-container>
</div>













