<ng-container >
	<mat-toolbar class="example-header">
		<mat-toolbar-row>
			SpringBoot Angular Job Board Parser
		</mat-toolbar-row>
	</mat-toolbar>		
			
	<app-search-job class="example-header2" ></app-search-job>		
	
	<mat-sidenav-container class="example-container">	 
	    <mat-sidenav mode="side" opened class="example-sidenav" [fixedTopGap]="140" [fixedInViewport]="true" style="padding-left:0px;">
		<app-chart-pie></app-chart-pie>      
	    </mat-sidenav>
	    <mat-sidenav-content>
			<app-jobs></app-jobs>  
	    </mat-sidenav-content>	    
	</mat-sidenav-container>	
</ng-container>














