<div>
 <table mat-table [dataSource]="jobs" matSort [matSortActive]="sort.active" [matSortDirection]="sort.direction" style="width:100%;" (matSortChange)="sortData($event)">    
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Titre </th>
      <td mat-cell *matCellDef="let job"> 
	<div style="font-weight:bold;font-size:1.2em;text-decoration: underline;">
		<a href="{{job.link}}" target="_blank">{{job.title}}</a>
	</div>      
      </td>
    </ng-container>    
    <ng-container matColumnDef="enterprise">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-md="true"> Enterprise </th>
      <td mat-cell *matCellDef="let job" fxHide.lt-md="true"> {{job.enterprise}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-md="true"> Description </th>
      <td mat-cell *matCellDef="let job" fxHide.lt-md="true"> {{job.description}} </td>
    </ng-container>
    <ng-container matColumnDef="siteSource">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-md="true"> Source </th>
      <td mat-cell *matCellDef="let job" fxHide.lt-md="true"> {{job.siteSource}} </td>
    </ng-container>
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-md="true"> Lieu </th>
      <td mat-cell *matCellDef="let job" fxHide.lt-md="true" > {{job.location}} </td>
    </ng-container>
    <ng-container matColumnDef="salary">
      <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-md="true"> R&eacute;mun&eacute;ration </th>
      <td mat-cell *matCellDef="let job" fxHide.lt-md="true"> {{job.salary}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; "></tr>
    <tr mat-row *matRowDef="let job; columns: displayedColumns;"></tr>
  </table>
</div>

