@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
@import '@angular/material/prebuilt-themes/purple-green.css';

body{
	background-color:#212121;
}

a:link, a:visited {
  text-decoration: none;
  color: white;
}

.example-container {
  position: absolute;
  top: 132px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}

.example-header {
  z-index:3;	
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.example-header2 {
  z-index:3;	
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
}

.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}


