@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body{
	background-color:#fff;
	overflow:hidden;
}

a:link, a:visited {
  color: #000;
}

#searchBar{
	background-color:black;
	width:100%;
	padding-top:10px;
	padding-left:40px;
}

.mat-form-field-label{
	color:white !important;
}
.mat-form-field-underline{
	background-color:white !important;
}

.mat-input-element{
	color:#AA0000 !important;
	font-weight:1000 !important;
}

mat-toolbar {
  position: relative;
  z-index: 0;
}

@media screen and (min-width: 960px) {
  mat-toolbar {
     z-index: 50;
  }
}

@media screen and (max-width: 599px) {
  mat-toolbar {
     z-index: 0;
  }
}

@media screen and (max-width: 599px) {
    .main-sidenav-container {
        width: 100%;
        height: calc(100vh - 135px);
        z-index: 100;
    }
}

@media screen and (min-width: 600px) {
  .main-sidenav-container {
      width: 100%;
      height: calc(100vh - 135px);
  }
  
#leftNav{
	border-right: solid 1px rgba(0,0,0,.12); 
	padding-top:50px;
} 
  
}
